TELEGRAM_TOKEN=
ADMIN_GROUP_ID=
PROJECT_NAME=Ваше_Название_Бота
BANS_TOPIC_ID=1
AUTO_CLOSE_HOURS=24

PG_HOST=remnawave_bot_db
PG_DB=remnawave_bot
PG_USER=remnawave_user
PG_PASS=
EXTERNAL_NETWORK_NAME=имя_вашей_сети_remnawave
